.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.imgage {
    object-fit: cover;
}

.content {}

.title {
    margin-top: 10px;
}

.description {
    font-size: 18px;
    color: #999;
}